.button {
    background-color:  rgba(151, 28, 28, 0.88);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    color: white;
    white-space: nowrap;
    overflow-y: hidden;
    width: 35%;
    padding: 1.5%;
    transition: 1s;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(82, 8, 8, 0.88);
}