*{
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
}

.section {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}

.divtextClient {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.divTexto h1 {
    color: white;
    width: 100%;
    height: 20%;
    font-size: 4em;
    text-shadow: 2px 2px rgb(128, 5, 5, 0.88);;
}

.divIcons {
    display: flex;
    width: 50%;
    height: auto;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.icons {
    color: white;
    font-size: 4em;
}

.divIcons h3 {
    color: white;
}

.divIconsDiv {
    border: 1.5px solid rgb(99, 10, 10);
    width: 60%;
    border-radius: 25px;
    text-decoration: none;
    position: relative;
    left: 18%;
    padding: 2%;
}

.divIconsDiv:hover {
    cursor: pointer;
    border-color: white;
}

.divIconsDiv:hover > .icons {
    color: rgb(99, 10, 10);
    transition: 1s;
}

.divIconsDiv:hover > h3 {
    color: rgb(99, 10, 10);
    transition: 1s;
}

.arrow {
    display: flex;
    justify-content: flex-start;
    margin-top: 300px;
    cursor: pointer;
}

.sizeImg {

    width: 4%;

}

.sizeImgLogin {

    width: 6%;

}

.imageAndForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    display: flex;
}

.loginIcon {

    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
   
}


.imageAndForm div:hover {
    cursor: pointer;
}


.divBanner img {

    width: 80%;
    height: 100%;
    border-radius: 25px;
    display: flex;

}

