* {
    font-family: "Open Sans", sans-serif;
}

.fundo{
    background-image: url("../assets/imagens/contato.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 5%;
}

.divContato{
    width: 70%;
    margin-left: 8%;
    border-radius: 10px;
    padding: 2%;
    background-color: rgba(12, 11, 11, 0.952);
    color: white;
}

.displayForm{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

form label {
    color: white;
      font-size: 1.1em;
      font-weight: bold;
      margin-bottom: 1.5%;
  }

  form input {
    width: 60%;
    margin-top: 1%;
    padding: 1%;
    border-color: rgb(141, 25, 25);
    color: rgb(99, 10, 10);
    margin-bottom: 3%;
}

form textarea{
    width: 50%;
    margin-top: 1%;
    padding: 1%;
    border-color: rgb(141, 25, 25);
    color: rgb(99, 10, 10);
    margin-bottom: 3%;
    max-width: 70%;
}