
* {

  margin: 0;
  padding: 0;

}

main {

  width: 100%;
  height: 100vh;
  background-color: black;
  
}


.flag {

  width: 100%;
  height: 600px;
  background-image: url('../assets/imagens/flag.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.login {

  height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 20px;
  cursor: pointer;

}


.text_button {

  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content:center;

}

.elements {

  width: 25%;
  height: 75px;
  display: flex;
  justify-content: center;

}

.elements p {

  color: white;
  font-size: 30px;
  margin-bottom: 3px;
  border-right: 2px solid #C4C4C4;
  white-space: nowrap;

}

.text_two {

  width: 100%;
  height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}


h1 {

  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 70px;

}

.text_two p{

  font-family: 'Open Sans', sans-serif;
  color: #C4C4C4;
  font-size: 35px;
  width: 75%;
  height: 100px;
  margin-left: 35px;
  border-right: 2px solid #C4C4C4;
  overflow: hidden;
  white-space:pre-wrap;

}

.text_two h3 {

  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 70px;
  margin-top: 30px;
  filter: blur(1px) contrast(25);
  
}

h3 {

  filter: blur(25);
}

h3:hover{

  filter: blur(0);
  animation: word 2s ease-in-out infinite alternate;

}

.blink {

  animation: blinkCursor 500ms infinite normal;

}

.writes_animation {

  animation: blinkCursor 400ms infinite normal, typing_p 9s steps(40) 1s infinite normal;

}

@keyframes blinkCursor {

  from {

    border-right-color: #C4C4C4;
  }

  to {
    
    border-right-color: transparent;

  }

}

@keyframes typing_p {

  from {

    width: 0;

  }

  to {

    width: 90%;


  }

}

@keyframes word {

  from {

      filter: blur(0)
  }


  to {

      filter: blur(25px)
  }

}


.flag_artist {

  width: 100%;
  height: 500px;
  background-image: url('../assets/imagens/flagArtists.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}


.flag_budget {

  width: 100%;
  height: 500px;
  background-image: url('../assets/imagens/flagBudget.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}


