* {
    font-family: "Open Sans", sans-serif;
}

main{
    height: auto;
}

.tituloIn h1{
    color: white;
    font-size: 30pt;
}

.cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 5rem;
    height: 70%;
}


.container{
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    
}
    
.container{
    background: rgba(63, 62, 71, 0.986);
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    height: 70%;
    
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

img {
    overflow: hidden;
    height: 100%;
    width: 100%;
   
   
}

.titulo{
    margin: 1rem;
    margin-top: 0.5rem;    
}

.titulo h3{
    color: white;
    margin-bottom: 0.5rem;
}

.body p{
    color: white
}

h3,p{
    margin: 0;
    padding: 0;
}
.btn{
    display: flex;
    justify-content: center;
    
}
 .button{
    background-color: brown;
    color: white;
    width: 60%;
    margin-top: 1%;
    padding: 1%;
    border-color: rgb(141, 25, 25);
    color: rgb(99, 10, 10);
    margin-bottom: 3%;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: red;
}

.tituloFim{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.tituloFim{
    padding: 2rem;
}
.tituloFim h1{
    color: red;
    font-size: 30pt;
}
.tituloFim p{
    color: white;
    width: 70%;
}