* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    background-color: black;
}

.firstDivision {

    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;

}

.secondDivision {

    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;

}

.thirdDivision {

    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;

}

.cards {
    width: 40%;
    height: auto;
}

.imgArtists {

    width: 60%;
    height: auto;

}