@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0%;
  padding: 0%;
}

.header {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #000000;
  width: 100%;
}

.img {
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 10px;
}

.logodiv {

  width: 20%;
  height: auto;

}

.nav { 

    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 10px;
  font-size: 25px;
  line-height: 41px;
  color: #FFFFFF;
  text-decoration: none;
  margin: 20px;
  transition: 0.8s;
}

.link:hover {
  color: red
}

@media(max-width: 1000px){
  .link {
    font-size: 15px;
  }
}


