@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000000;
    color: white;
    font-family: "Open Sans", sans-serif;

    
  }


