@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #000000;
    color: white;
    font-family: "Open Sans", sans-serif;

    
  }

  .section{
    display: flex;
      flex-direction: column;
      margin-left: 200px;
      margin-top: 15px

  }

  .sectionRedesSociaisParagrafo{
    display: flex;
    flex-direction: column; 
    margin-left: 200px;

  }

  .sectionRedesSoaciais{
    display: flex;
    margin: 5px 20px 5px 10px
  }


  .sectionInformacoes{

    display: flex;
     flex-direction: column;
     margin-left: 200px; 
     margin-bottom: 20px;
  }



  @media(max-width: 1000px){
    .footer {
      font-size: 15px;
    }
  }
  

