@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
}
  
.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #000000;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 2%;
}

.section{
  display: flex;
    flex-direction: column;
    margin-top: 15px;
    width:33%
}

.sectionRedesSociaisParagrafo{
  display: flex;
  flex-direction: column;
  width:33%
}

.sectionRedesSociaisParagrafo span {
  color: red;
}

.sectionRedesSoaciais{
  display: flex;
  margin: 5px 20px 5px 10px;
}

.icone {
  padding: 5%;
  font-size: 2em;
  margin-bottom: 10%;
  transition: 0.8s;
  width: fit-content;
  height: fit-content;
}

.icone:hover {
  color: red;
  cursor: pointer;
}

.sectionInformacoes{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width:33%;
  margin-top: 15px;
}

@media(max-width: 1000px){
  .footer {
    font-size: 15px;
  }
}
  

