
.button_h {

  width: 15%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  background-color: #800505;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: .5s;
  border: none;

}

.button_h:hover {

  background-color: black;
  cursor: pointer;
  color: aliceblue;


}